#construct{
    width: 100%;
    height: 90vh;
    padding: 22px 10%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-primary-5);
}


.construct_title{
    display: flex;
    flex-direction: column;
}

.construct_title h2{
    width: 70%;
    color: var(--color-primary-3);
    font-size: 50px;
}

.construct_title p{
    color: var(--color-primary-2);
    padding: 15px 0;
    font-size: 20px;
}

.construct_image{
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
}

.construct_image img{
    width: 600px;
    border-radius: 20px;
}

@media screen and (max-width: 768px){
    #construct{
        display: flex;
        flex-direction: column;
        border: none;
        align-items: center;
        padding: 0 20px;
        height: 480px;
    }

    .construct_image{
        order: 1;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .construct_title{
        order: 2;
        margin-top: 10px;
    }

    .construct_title h2{
        font-size: 20px;
    }
    .construct_image img{
        width: 100%;
    }

}