footer{
    background-color: #13244d;
}

#footer-itens{
    display: flex;
    padding: 20px 8% 24px 8%;
    justify-content: space-between;
}

#copy{
    color: var(--color-primary-2);
}

.social-media a{
    text-decoration: none;
    color: var(--color-primary-2);
    margin: 0 10px;
}

.social-media a > i{
    font-size: 20px;
}

@media screen and (max-width: 1170px){
    #footer-itens{
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
}